.filterOptionsView {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-bottom: 1px solid black;
  background-color: #f2f2f2;
  font-size: 0.875rem;
}

.filterOptionsFieldGroup {
  display: flex;
  align-items: center;
}

.filterOptionsFieldGroup label {
  margin-right: 0.5rem;
}

.filterOptionsFieldGroup input[type="date"] {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #cccccc;
  font-size: 0.875rem;
}